.header {
    background-color: orange;
    padding: 21px;
    width: 200px;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18pt;
    font-weight: bold;
    float: left;  
    position: relative;
    left: 59px;
}

header{
    background-color: white;
    border-bottom: 8px solid orange;
    /* width: 100%; */
}
img {
    width: 40%;
    height: 50%;
}
.subhead {
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 0;
    font-size: 15pt;
    padding: 10px;
}
.hcontainer {
    width: 960px;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin-left: 50px;
}
.row {
    width: 100%;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
}

body {
    background-image: url("../images/joanjo-pavon-563960-unsplash.jpg");
}

.clearfix:after {
    content: ".";    
    display: block;
    height: 0;
    clear: both;
}
main {
    max-width: 960px;
    margin: auto;

}

section {
    background: white;
    /* max-width: 960px; */
    height: 100%;
    margin: 30px auto;
    padding: 20px;
    width: 75%;
    box-sizing: border-box;         
}


hr {
    color: #cabebe;
    margin: 10px 10px;
}

.picture {
    float: left;
    padding: 10px;
    width: 100px;
    height: 100px;    
}

#footerGreenBar {
    margin-top: 50px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    padding: 13px;    
}
.column980 {
    width: 40%
}   
.img980 {
    width: 75%
} 
.label980 {
    position: relative;
    right: 20px;
    width: 75%;  
    padding: 10px 0px;
    color: white;
  }

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.topnav a:hover {
    background-color: rgb(251, 253, 147);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #302f2f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    margin: 20px;
    line-height: 1.5;       
} 

.footerBar {
    color: black;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }
 
 #footerGreenBar {
    overflow: hidden;
    background-color: orange;
    height: 8px;
    margin-top: 40px;
    position: fixed;
    bottom: 50px;
    z-index: 1
 }
 
 #footerGreyBar {
    overflow: hidden;
    background-color: black;
    height: 50px;
 }

.copyright {
    color: white;
    text-align: right;
    font-size: 8pt;
    font-family: Georgia, 'Times New Roman', Times, serif  
 }
 
 .button-li {
     background-color: whitesmoke;
     text-align: left;
    
 }

 form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #666666;
    margin-left: 10px;
 }

 .formInput {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
 }

 .formMessage {
    height: 175px;
    margin-bottom: -5px;
 }

.submitButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: white;
    background: orange;
    padding: 5px;
    margin-top: 15px;
}

.boxtext {
    color: white;
}

.column {
    float: left;
    /* height: 400px;
    width: 300px; */
    background-repeat: no-repeat;
    background-size: 200px 200px;
    position: relative;
}

.HangmanBox  {
    background-image: url(../images/Hangman.jpg);
 }
 .label {
    background-color: orange;
    color: white;
    position: relative;
    bottom: 90px;
    text-align: center;
 }
 
 
 

 @media screen and (max-width: 980px) {
    .topnav {
        height: 18px;
        /* margin-right: 300px; */
        padding: 10px;
        border: none;
        overflow: hidden;
        /* width: 70%; */
    }
    #Contact, #Portfolio, #About {
        width: 80px;
        height: 38px;
        padding-top: 15px;
        padding-bottom: 0;
    }
    #Contact, #Portfolio {
        border-left: none;
    }    
    section {
        width: 860px;
    }
    .row {
        width: 100%;
        margin-top: 20px;
        margin-left: 70px;
        margin-bottom: 20px;
    }
    .hcontainer {
        height: 66px;
        width: 100%
    }
    .container {
        margin: 0 auto;       
    }
    #portfolioH2 {
        position: relative;
        left: 20px;
    } 
    .column980 {
        width: 40%
    }   
    .img980 {
        width: 75%
    } 
    .label980 {
        position: relative;
        right: 20px;
        width: 75%;  
        padding: 10px 0px
      }
 }

@media screen and (max-width: 768px) {   
    section {
        width: 648px;
        margin-bottom: 50px;
    }
    .hcontainer {
        width: 100%;
    }
    .row {
        margin-left: 20px;
        margin-top: 30px;
    }
    .TriviaBox {
        margin-top: -124px;
    }   
} 

@media screen and (max-width: 640px) {
    section {
        width: 75%;
        height: 100%;
        margin-top: 100px;
        margin-left: 90px;
        margin-bottom: 50px;
    }
    .hcontainer{
        width: 100%;
    }
    .header {
        width: 100%;
        text-align: center;
        left: 0px
    }
    .topnav {
        float: none;        
        height: 55%;
        /* width: 104%;     */
        width: 75%
    }
    .topnav a{
        padding: 14px 39px 14px 16px;
    }
    #media640_top_nav {
        width: 100%;
        background: white;
    }
    .label {
        background-color: orange;
        color: white;
        position: relative;
        bottom: 90px;
        left: 0.5px;
        text-align: center;
        width: 84%;
    }
    .img {
        height: 100%;
        width: 90%;
    }
    .column980 {
        width: 100%
    }
    .subheadMain {
    color: orange;
    font-family: Georgia, 'Times New Roman'  , Times, serif;
    font-weight: bold;
    margin: 0 0;
    font-size: 15pt;
    padding: 10px;
    color: white
}
    .picture {
        width: 95%;
        height: 95%;
    }
    .form {
        width: 95%;
        height: 85%;
        border-left-width: 10px;
    }      
    /* .row {
        /* margin-top: 100px; */
    /* } */ 
    .HangmanBox {
        background-position-x: 220px;    
    }
    .HangmanLabel {
        margin-left: 100px;
        right: -120px;
    }
    .ScratchBox {
        margin-top: 500px;
    }
    .gallery{
        /* padding: 10px; */
        position: relative;
        /* left: 20px; */
        /* border-top: #777777 1px solid; */
        /* width: 690px; */
    }
    /* .ScratchboxLabel {
        margin-top: 500px;
        margin-left: 200px;
        right: -100px;
    }          */
    .TriviaBox {
        margin-left: 120px;
        right: -100px;   
    }
    .TriviaLabel {
        margin-left: 120px;
    }

}